.dItem{
    width: 140px;
    height: 140px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #fff;
}
.dItem:hover{
    width: 140px;
    height: 140px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #fff;
}
.dItem h3{
    font-weight: 300;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.dItem_txt{
    height: 50px;
    background-color: rgb(68, 87, 96);
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}