.topbar{
    background-color: #235365;
    height: 11vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20vh;
}
.topbar h1{
    font-weight: 200;
    color: #fff;
    font-size: 25px;
}